<h1 class: "page_title">Tasks#index</h1>

<h2>Task List</h2>
  <% title = String.new %>

<ol>
  <% @tasks.each do |task| %>

    <% if title != task.title %>
      <% title = task.title %>
      <%= title %>
    <% end %>


    <li><%= link_to task.name, task_path(task.id) %>:

      <% if task.complete %>
        <del><%= task.description %></del>
        <%= link_to "uncomplete", task_path(task.id,
        task: { complete: false, completion_date: nil}),
        method: :patch %>
      <% else  %>
        <%= task.description %>
        <%= link_to "complete", task_path(task.id,
        task: {complete: true, completion_date: Time.now}), method: :patch %>
      <% end %>
    </li>
  <% end %>
</ol>


<%= link_to "Add Task", new_task_path, class: "button" %>
