<h1 class: "page_title">Tasks#index</h1>

<h2>Task List</h2>
<ul class: "tasks">
  <% title = String.new %>

  <% @tasks.each do |task| %>

      <% if title != task.title %>
      <% title = task.title %>
      <%= title %>
      <% end %>


    <li><%= task.id %>. <%= link_to task.name, task_path(task.id) %>: <%= link_to task.description, task_path(task.id) %> </li>

  <% end %>

  <%= link_to "Add Task", new_task_path, class: "button" %>

</ul>
