<h1 class: "page_title">Show Task</h1>

<p class: = "task_title">
  <%= @task.title %>
</p >

<img src="http://placebeyonce.com/300-300" alt="beyonce" class: = "task_image">

<p>
  <%= @task.id %>. <%= @task.name %>: <%= @task.description %>
</p>

<%= render partial: "completed_on" %>


<%= link_to "edit task", edit_task_path(@task) %>
<%= link_to "Delete Task", delete_task_path(@task),
data: { confirm: "Are you sure you want to delete this task?"},
method: :delete%>
